<head>
  <title>FAAO - Bienvenue</title>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	  <span class="sr-only">toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="#">FAAO</a>
      </div>
      <div class="navbar-collapse collapse">
	<ul class="nav navbar-nav">
	  <li class="active"><a href="#">Accueil</a></li>
	  <li><a href="#about">A propos</a></li>
	  <li><a href="#contact">Me contacter</a></li>
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">dropdown <span class="caret"></span></a>
	    <ul class="dropdown-menu">
	      <li><a href="#">action</a></li>
	      <li><a href="#">another action</a></li>
	      <li><a href="#">something else here</a></li>
	      <li role="separator" class="divider"></li>
	      <li class="dropdown-header">nav header</li>
	      <li><a href="#">separated link</a></li>
	      <li><a href="#">one more separated link</a></li>
	    </ul>
	  </li>
	</ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  {{> principale}}
  <!--   {{> exercice1}} -->
</body> 
