<template name="exercice4">

	<div class="bg-info">
	  <h3>4. À notes données, trouver la formule.</h3>
	  Dans cet exercice, FAAO vous donne seulement des notes. C'est à vous, à partir des notes, de trouver la formule, identifier la tonalité et solfier les notes. Par exemple, à partir des notes Sib, Lab, Sol et Fa, la formule est 4321 en Fa mineur. Toujours prononcer les altérations. Appuyer sur "afficher la réponse" pour connaître la formule et la tonalité. Bonne chance!<br><br>
	</div><br>
	... en développement.
</template>