<template name="exercice1">

	<br>
	<br>
	<div class="bg-info">
		<h3>1. À formules données, solfier les notes.</h3>
		Dans cet exercice, FAAO vous donne une tonalité et la série des formules. C'est à vous de solfier les notes des formules dans l'ordre présenté. Toujours prononcer les altérations. Installer la tonalité, appuyer sur "démarrer" et solfier les notes avec l'accompagnement. Bonne chance!<br>
	</div><br>
	<button class="btn button btn-primary" id="genererTonalite">Tonalité aléatoire</button>
	<button class="btn button btn-primary" id="tonalitePrecedente">&#60;</button>
	<button class="btn button btn-primary" id="tonaliteSuivante">></button>
	<span class="dropdown">
  		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{tonalite}}
  			<span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu">
	    	{{#each tonalitesDropdown}}
			<li><a href="#" id="choixTonalite" value="{{this}}">{{this}}</a></li>
	    	{{/each}}
  		</ul>
	</span>
 	<span class="dropdown">
  		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{mode}}
  			<span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu">
	    	{{#each modeDropdown}}
			<li><a href="#" id="choixMode" value="{{this}}">{{this}}</a></li>
	    	{{/each}}
  		</ul>
	</span><br><br>
	<button class="btn btn-primary dropdown-toggle" type="button" id="installerTonalite">Installer la tonalité</button>
	<label><input type="checkbox" id="autoInstallation" value="autoInstallation"></label>
	<button class="btn btn-primary dropdown-toggle" type="button" id="afficherFormules">Afficher partition</button>
	<label><input type="checkbox" id="autoFormules" value="autoFormules"></label>
	<button class="btn btn-primary dropdown-toggle" type="button" id="demarrerSolfege">Démarrer accompagnement</button>
   	<canvas id="score" width="1600" height="600" ></canvas>
</template>
