<template name="exercice2">
	<!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
	<!--<script scr="../vexflow-master/releases/vexflow-debug.js"></script> -->
	
	<div class="bg-info">
	  <h3>2. À tonalité donnée, trouver le degré.</h3>
	  Dans cet exercice, FAAO vous donne une tonalité et une formule. C'est à vous de chercher le nom des notes et altérations qui correspondent et de les solfier. Par exemple, à partir de Ré majeur avec la formule 321, les notes à solfier sont Fa#, Mi, Ré. Toujours prononcer les altérations. Appuyer sur "afficher la réponse" pour connaître les notes à solfier. Bonne chance!<br><br>
	</div><br>
	<button class="btn button btn-primary" id="genererTonalite">Tonalité aléatoire</button>
	<button class="btn button btn-primary" id="tonalitePrecedente">&#60;</button>
	<button class="btn button btn-primary" id="tonaliteSuivante">></button>
	<span class="dropdown">
  		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{tonalite}}
  			<span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu">
	    	{{#each tonalitesDropdown}}
			<li><a href="#" id="choixTonalite" value="{{this}}">{{this}}</a></li>
	    	{{/each}}
  		</ul>
	</span>
	<span class="dropdown">
  		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{mode}}
    		<span class="caret"></span>
    	</button>
  		<ul class="dropdown-menu">
    		{{#each modeDropdown}}
    		<li><a href="#" id="choixMode" value="{{this}}">{{this}}</a></li>
    		{{/each}}
  		</ul>
	</span><br>
	<!-- Tonalité donnée: {{htmlTonalite}} <br> -->
	<br><button class="btn btn-primary" id="genererFormule">Formule aléatoire</button>
	<button class="btn btn-primary" id="formulePrecedente">&#60;</button>
	<button class="btn btn-primary" id="formuleSuivante">></button>
	<span class="dropdown" id="testdropdown">
  		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{formule}}
    		<span class="caret"></span>
    	</button>
  		<ul class="dropdown-menu">	
    		{{#each formuleDropdown}}
    		<li><a href="#" id="choixFormule" value="{{this}}" selected>{{this}}</a></li>
    		{{/each}}
  		</ul>
	</span><br>
	<!-- Formule donnée: {{htmlFormule}}<br> -->
	<br>
	<button class="btn btn-primary dropdown-toggle" type="button" id="installerTonalite">Installer la tonalité</button>
	<label><input type="checkbox" id="autoInstallation" value="autoInstallation"></label>
	<button class="btn btn-primary dropdown-toggle" type="button" id="afficherFormules">Afficher partition</button>
	<label><input type="checkbox" id="autoReponse" value="autoReponse"></label>
	<button class="btn btn-primary dropdown-toggle" type="button" id="jouerTonique">Jouer la tonique</button>
	<button class="btn btn-primary dropdown-toggle" type="button" id="jouerReponse">Jouer la réponse</button>
	<button class="btn btn-primary dropdown-toggle" type="button" id="demarrerSolfege" style="display: none;">Démarrer</button>
	<br>{{htmlReponse}}
	<canvas id="score" width="1600" height="600" ></canvas>
</template>
