<template name="exercice3">

	<div class="bg-info">
	  <h3>3. À degré donné, trouver la tonique.</h3>
	  Dans cet exercice, FAAO vous donne une formule et une note de départ représentant le degré associé à une formule. C'est à vous de chercher la tonalité, le nom des notes et altérations qui correspondent et de les solfier. Par exemple, à partir de Do comme 3e degré avec la formule 321, la tonalité est Lab majeur et les notes à solfier sont Do, Sib, Lab. Toujours prononcer les altérations. Appuyer sur "afficher la réponse" pour connaître les notes à solfier. Bonne chance!<br><br>
	</div><br>
	<button class="btn button btn-primary" id="genererTonForm">Aléatoire complet</button>
	{{htmlFormule}} en {{htmlTonalite}}<br><br>
	<!--
	<button class="btn button btn-primary" id="genererTonalite">Tonalité aléatoire</button>
	<button class="btn button btn-primary" id="tonalitePrecedente">&#60;</button>
	<button class="btn button btn-primary" id="tonaliteSuivante">></button>
	<span class="dropdown">
  		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{tonalite}}
  			<span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu">
	    	{{#each tonalitesDropdown}}
			<li><a href="#" id="choixTonalite" value="{{this}}">{{this}}</a></li>
	    	{{/each}}
  		</ul>
	</span>
	<span class="dropdown">
  		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{mode}}
    		<span class="caret"></span>
    	</button>
  		<ul class="dropdown-menu">
    		{{#each modeDropdown}}
    		<li><a href="#" id="choixMode" value="{{this}}">{{this}}</a></li>
    		{{/each}}
  		</ul>
	</span><br>
	<br><button class="btn btn-primary" id="genererFormule">Formule aléatoire</button>
	<button class="btn btn-primary" id="formulePrecedente">&#60;</button>
	<button class="btn btn-primary" id="formuleSuivante">></button>
	<span class="dropdown">
  		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{formule}}
    		<span class="caret"></span>
    	</button>
  		<ul class="dropdown-menu">
    		{{#each formuleDropdown}}
    		<li><a href="#" id="choixFormule" value="{{this}}" selected>{{this}}</a></li>
    		{{/each}}
  		</ul>
	</span>-->
	<button class="btn btn-primary dropdown-toggle" type="button" id="installerTonalite" style="display: none;">Installer la tonalité</button>
	<button class="btn btn-primary dropdown-toggle" type="button" id="jouerTonique">Jouer le degré</button>
	<label><input type="checkbox" id="autoDegre" value="autoDegre"></label>
	<button class="btn btn-primary dropdown-toggle" type="button" id="jouerReponse">Jouer la réponse</button>
	<button class="btn btn-primary dropdown-toggle" type="button" id="afficherFormules">Afficher partition</button>
	<button class="btn btn-primary dropdown-toggle" type="button" id="demarrerSolfege" style="display: none;">Démarrer</button>
	<!-- <label><input type="checkbox" id="autoReponse" value="autoReponse"></label> -->
    <br><canvas id="score" width="1600" height="600" ></canvas>
</template>