<template name="principale">
	<button type="button" class="btn btn-primary" value="Exercice 1" id="exercice1">Exercice 1</button>
  	<button type="button" class="btn btn-primary" value="Exercice 2" id="exercice2">Exercice 2</button>	
  	<button type="button" class="btn btn-primary" value="Exercice 3" id="exercice3">Exercice 3</button>
  	<button type="button" class="btn btn-primary" value="Exercice 4" id="exercice4">Exercice 4</button>
  	<button type="button" class="btn btn-primary" value="Exercice 5" id="exercice5">Exercice 5</button>
  	{{> Template.dynamic template=tab data=tabData}}
</template>
